.pedido-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    padding: 20px; 
}

.formulario-pedido {
    max-width: 800px; 
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #c96e86;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

