
.search-bar-container {
    border-radius: 10px; 
    padding: 10px; 
    width: 300px;
  }
  
  
  .search-input {
    border: none;
    outline: none; 
    width: 200px; 
    padding: 5px; 
    border-radius: 10px; 
  }

  #searchbar-msj {
    color: #c96e86;
    font-size: 20px;
    margin-bottom: 5px; 
  }
  