/* Estilo del contenedor principal */
.search-bar-container {
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    width: 300px;
  }
  
  /* Estilo del input de búsqueda */
  .search-input {
    border: none; /* Elimina el borde predeterminado */
    outline: none; /* Elimina el resaltado en enfoque */
    width: 200px; /* Ocupa todo el ancho disponible */
    padding: 5px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
  }

  #searchbar-msj {
    color: #c96e86;
    font-size: 20px;
    margin-bottom: 5px; /* Espaciado inferior */
  }
  