body {
  background-color: #FFF5E7;
  margin: 0;
  padding: 0;
  font-family: 'Dangrek', cursive;
  color: #c96e86;
}

/* Estilos para el header */
header {
  background-color: #e0b7b7;
  padding: 0;
  margin: 0;
}

/* estilos para el navbar */
nav {
  background-color: #e0b7b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-item {
  margin: 0;
}

.navbar-item a {
  text-decoration: none;
  color: #c96e86;
  padding: 5px 15px; 
  background-color: #e0b7b7; 
  border-radius: 5px;
  font-size: 20px;
  font-family: 'Dangrek', cursive;
}

.navbar-item a:hover {
  color: #ffd0d0;
  background-color: #c96e86;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo {
  width: 150px;
  margin-right: 10px; 
}

.pedido-button {
  background-color: #c96e86;
  color: #ffd0d0;
  padding: 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Dangrek', cursive;
}


.pedido-button:hover {
  color: #c96e86;
  background-color: #ffd0d0;
}


#product-card {
  background-color: #FFF5E7;
  border: none;
  border-radius: 10px; 
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
  font-family: 'Dangrek', cursive;
  margin: 10px;
  width: 250px; 
  display: inline-block;
  vertical-align: top; 
}


#product-card h3 {
  font-size: 20px;
  margin: 8px 0;
}


#product-card img {
  max-width: 100%;
  height: auto;
  margin: 8px 0;
}

#product-card p {
  font-size: 16px;
}

section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 40px;
}

#sabores {
  background-color: #e0b7b7;
}

#searchbar-msj {
  color: #c96e86;
  font-size: 20px;
}

.quienes-somos-section {
  display: grid;
  grid-template-columns: auto 1fr; 
  align-items: center; 
  gap: 20px; 
}

.quienes-somos-image {
  max-width: 100%; 
  height: auto;
}

.carousel-container {
  max-width: 600px; 
  margin: 0 auto; 
}

.carousel-container img {
  max-width: 100%; 
}



