body {
  background-color: #FFF5E7;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos para el header */
header {
  background-color: #e0b7b7;
  padding: 0;
  margin: 0;
}

/* estilos para el navbar */
nav {
  background-color: #e0b7b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-item {
  margin: 0;
}

.navbar-item a {
  text-decoration: none;
  color: #c96e86;
  padding: 5px 10px; /* Ajusta el espaciado según tu preferencia */
  background-color: #e0b7b7; /* Color de fondo de los botones */
  border-radius: 5px;
}

.navbar-item a:hover {
  color: #ffd0d0;
  background-color: #c96e86;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo {
  max-width: 100px;
  margin-right: 10px; /* Espacio entre el logo y los botones */
}

.pedido-button {
  background-color: #c96e86;
  color: #ffd0d0;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.pedido-button:hover {
  color: #c96e86;
  background-color: #ffd0d0;
}




/* Estilo para las tarjetas de producto */
#product-card {
  background-color: #FFF5E7;
  border: 1px solid #ddd; /* Agrega un borde suave */
  border-radius: 8px; /* Añade bordes redondeados */
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  text-align: center;
  margin: 10px; /* Espacio entre las tarjetas */
  width: 250px; /* Establece un ancho fijo para todas las tarjetas */
  display: inline-block;
  vertical-align: top; /* Para alinear las tarjetas en la parte superior */
}

/* Estilo para el título de la tarjeta */
#product-card h3 {
  font-size: 18px;
  margin: 8px 0;
}

/* Estilo para la imagen de la tarjeta */
#product-card img {
  max-width: 100%;
  height: auto;
  margin: 8px 0;
}

/* Estilo para la descripción de la tarjeta */
#product-card p {
  font-size: 14px;
}


/* Estilo general para las secciones */
section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 40px; /* Espacio entre secciones */
}

/* Estilo específico para las secciones de inicio y contacto */
#inicio, #contacto {
  background-color: #f0f0f0; /* Color de fondo para estas secciones */
}

/* Estilo específico para la sección de sabores */
#sabores {
  background-color: #e0e0e0; /* Color de fondo para la sección de sabores */
}

/* Estilo específico para la sección de quienes somos */
#quienes-somos {
  background-color: #d0d0d0; /* Color de fondo para la sección de quienes somos */
}

