body {
  background-color: #FFF5E7;
  margin: 0;
  padding: 0;
}

/* Estilos para el header */
header {
  background-color: #e0b7b7;
  padding: 0;
  margin: 0;
}

/* estilos para el navbar */
nav {
  background-color: #e0b7b7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-item {
  margin: 0;
}

.navbar-item a {
  text-decoration: none;
  color: #c96e86;
  padding: 5px 10px; 
  background-color: #e0b7b7; 
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-item a:hover {
  color: #ffd0d0;
  background-color: #c96e86;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo {
  max-width: 100px;
  margin-right: 10px; 
}

.pedido-button {
  background-color: #c96e86;
  color: #ffd0d0;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.pedido-button:hover {
  color: #c96e86;
  background-color: #ffd0d0;
}


#product-card {
  background-color: #FFF5E7;
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
  margin: 10px;
  width: 250px; 
  display: inline-block;
  vertical-align: top; 
}


#product-card h3 {
  font-size: 18px;
  margin: 8px 0;
}


#product-card img {
  max-width: 100%;
  height: auto;
  margin: 8px 0;
}

#product-card p {
  font-size: 14px;
}



section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 40px;
}


#inicio, #contacto {
  background-color: #f0f0f0; 
}

#sabores {
  background-color: #e0e0e0; 
}

#quienes-somos {
  background-color: #d0d0d0;
}
